  .create-post{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 500px;
    padding: 90px;
  }
  .create-post img {

    place-content: center;
  }
  .upload-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  input#image {
    padding: inherit;
    margin: auto;
  }
  .create-post h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .mini-container {
    display: flex;
    flex-direction: column;

  }

  
  #content {
    height: 150px;
    text-align: left;
  }
  
  .mini-container input {
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }


  button[type="submit"] {
    background-color: #ff5e5b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #ff7875;
  }
  